@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Stylish&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: poppins, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
  background: linear-gradient(#1e3944, #51557f);
}
@font-face {
  font-family: 'Product-sans';
  src: url(GeneralSans-Medium.otf);
}

#header_content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.first_h {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px;
  margin-top: 0;
}

.second_h {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.nav_f {
  margin-right: 2em;
  margin-top: 1em;
}

.nav_s {
  margin-left: 2em;
}

.icons {
  margin-left: -2.5em;
}

.logo_link {
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.list,
.link {
  display: inline;
  margin: 12px;
  color: rgb(29, 29, 29);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

#page_banner {
  z-index: 2;
  margin-top: 8em;
  width: 100%;
  height: 33em;
  margin-left: -0.5em;
  margin-right: 0;
}

#banner,
#banner_ {
  width: 100%;
  padding: 25px;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1560243563-062bfc001d68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}

#msg_box {
  margin-top: 7.5em;
  /* margin-left: 25%;*/
  color: white;
}

.summer_s {
  font-size: 26px;
  font-weight: 500;
  color: #000000c0;
}

#seventy_p {
  font-size: 100px;
  font-weight: bolder;
  margin-top: -0.3em;
  margin-left: 0;
  color: #000000a9;
}

.promo_c {
  margin-top: -3em;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

#shop_now {
  border: none;

  width: 10em;
  padding: 20px;
  font-size: 18px;
  color: white;
  background-color: rgb(20, 20, 20);
  border-radius: 3px;
}

#shop_now:active {
  transform: scale(0.9);
}

.click1 {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  padding: 3px;
}
.collection {
  display: flex;
  gap: 2vw;
  margin-top: 5vw;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}
.collection-box {
  height: 23vw;
  width: 20vw;
  background-color: ghostwhite;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.collection-box h2 {
  margin: 1vw;
  font-size: 1.3vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.collection-box h3 {
  background-color: rgb(125, 190, 247);
  padding: 0.2vw;
}
.collection-box h3 a {
  text-decoration: none;
  color: black;
}
.collection-container {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  /* margin-top: 1vw; */
  cursor: pointer;
}
.collection-img1 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://cdn.shopify.com/s/files/1/0412/0002/5751/files/undefined_1024x1024.webp?v=1691993760);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img2 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://static.toiimg.com/thumb/msid-93643962,width-1280,resizemode-4/93643962.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img3 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://www.remelifestyle.in/wp-content/uploads/2019/07/designer-handbag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img4 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://www.inventiva.co.in/wp-content/uploads/2022/09/cosmetics.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img5 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://www.beyoung.in/api/cache/catalog/products/hawaiian_shirt/new_hawaiian_shirt_master_image_2_10_05_2023_822x990.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img6 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://media.1bstories.com/stories/manofmany/article-template/posters/fashion/mens-fashion-advice/how-to-wear-white-shoes-with-black-jeans/Landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img7 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://m.media-amazon.com/images/I/81pFW0b8jZL._AC_UY1100_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img8 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://media.istockphoto.com/id/533714204/photo/businessman-checking-time-from-watch.jpg?s=612x612&w=0&k=20&c=bJN94WW68Rw8uEogp3GKtBYnhcrNFNnf1SkWb0KDvGo=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img9 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://www.ikea.com/in/en/images/products/silverloenn-sheer-curtains-1-pair-white__1209501_pe909266_s5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img10 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://assets.ajio.com/medias/sys_master/root/20230623/zeQq/6495043242f9e729d786d019/-473Wx593H-464512287-brown-MODEL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img11 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://www.craftsnchisel.com/cdn/shop/products/brass-leaf-wall-hanging-set-of-8-indian-home-decor-crafts-n-chisel-1_800x.jpg?v=1671239066);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img12 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://m.media-amazon.com/images/I/61u1gNvhx3L._AC_UF894,1000_QL80_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img13 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://image.made-in-china.com/202f0j00FWNVTjnrlJYL/China-Wholesale-Children-S-Kids-Wear-Baby-Children-Clothes-New-Design-Wedding-Fashion-Girl-Dress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img14 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://static.independent.co.uk/2021/02/25/10/indybest%20kids%20rental%20clothes.jpg?width=1200&height=1200&fit=crop);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img15 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://images.unsplash.com/photo-1604467794349-0b74285de7e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8a2lkcyUyMGNsb3RoZXN8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-img16 {
  height: 6vw;
  width: 7vw;
  border-radius: 0.5vw;
  background-image: url(https://ventra.in/cdn/shop/files/Home_Ventrakidswear_grande.jpg?v=1649340368);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.collection-item h4 {
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}
#msg {
  margin: 50px auto;
  text-align: center;
}

.shop_n {
  font-weight: bold;
}

.heading {
  margin-top: 5em;
  margin-bottom: 3em;
  text-align: center;
}

.cathegory {
  font-size: 33px;
}

.wom {
  margin: 10px;
  font-size: 15px;
  margin: none;
}

.post,
.wom {
  text-align: center;
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-size: 17px;
  font-weight: bold;
  margin: 10px;
}

.pro_img {
  width: 10em;
}

#grid_s {
  width: 100%;
  /* display: flex;
    justify-content: center;
    flex-direction: column;
    */
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

#big_post {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.one_bp {
  width: 34em;
  height: 36em;
  margin: 20px;
}

.bp_cap {
  text-align: center;
  background-color: white;
  padding: 20px;
  font-size: 21px;
  font-weight: bold;
  width: 50%;
  margin: -4em auto;
}

.shop {
  font-size: 16px;
  font-weight: 500;
}

#one_bp1 {
  background-image: url(https://reginadanielsfashion.com/wp-content/uploads/2022/06/cf39b4d5-8e40-4925-9e22-51f57010c846-500x633.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#one_bp2 {
  background-image: url(https://reginadanielsfashion.com/wp-content/uploads/2022/06/c2719ed6-59fb-4e64-bdc9-d02731de2ef6-500x633.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.price_tag {
  background-color: rgb(34, 34, 34);
  width: fit-content;
  padding: 20px;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-left: 1em;
}

.canc {
  color: rgb(231, 231, 231);
  font-size: 15px;
  text-decoration: line-through;
}

.main_display {
  width: 100%;
}

.img {
  width: 15em;
  margin: 10px;
  height: 19em;
  background-size: cover;
  background-repeat: no-repeat;
}

#flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.caption_ {
  text-align: center;
  font-weight: 500;
}

#display_pro {
  margin-top: 15%;
  width: 100%;
}

.sale {
  animation-name: zoom;
  animation-duration: 3s;
}

.new_arr {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5%;
  text-align: center;
  color: rgb(49, 49, 49);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cancelled {
  color: grey;
  text-decoration: line-through;
}

.new {
  color: rgb(233, 210, 79);
}

#img1 {
  background-image: url(https://reginadanielsfashion.com/wp-content/uploads/2022/01/2d72b502-193c-493c-a660-432e7307a249-scaled.jpeg);
}

#img2 {
  background-image: url(https://images.unsplash.com/photo-1609505848912-b7c3b8b4beda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

#img3 {
  background-image: url(https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

#img4 {
  background-image: url(https://reginadanielsfashion.com/wp-content/uploads/2021/07/2F4A2964-scaled-500x633.jpg);
}

#img5 {
  background-image: url(https://images.unsplash.com/photo-1568252542512-9fe8fe9c87bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.like_btn {
  width: fit-content;
  background-color: white;
  padding: 8px;
  float: right;
  border-radius: 50%;
  margin: 1em;
}

.sale_tag {
  float: left;
  border: 2px solid rgb(233, 210, 79);
  color: rgb(233, 210, 79);
  padding: 5px;
  margin: 0.5em;
  font-size: small;
}

#img6 {
  background-image: url(https://reginadanielsfashion.com/wp-content/uploads/2021/07/gallery-8-500x600.jpg);
  width: 20em;
  height: 25em;
}

.pro10 {
  width: 32em;
}

.first_box {
  margin-left: 12em;
  width: 60%;
}

.sec_box {
  width: 30%;
  text-align: center;
  margin-right: 12em;
}

#sec_main {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.gray {
  font-size: 18px;
  font-weight: 500;
  color: rgb(155, 155, 155);
}

.head {
  font-size: 28px;
  font-weight: 500;
}

.sale_tag2 {
  background-color: black;
  color: white;
  padding: 5px;
  width: 20%;
  float: left;
}

i {
  font-size: 20px;
  text-align: center;
}

.blogimg {
  width: 100%;
}

.blog {
  width: 28%;
  padding-bottom: 10px;
  background-color: white;
  margin: 15px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  animation-name: zoom;
  animation-duration: 3s;
}

@keyframes zoom {
  0% {
    transform: scale(0.8);
  }
}

.blog:hover {
  box-shadow: 0 0 25px #777777;
  transform: scale(1.02);
}

.date {
  font-size: 15px;
  color: rgb(180, 180, 180);
  margin-top: 0;
}

#blog {
  margin-top: 3em;
  width: 100%;
  padding: 40px;
  background-color: rgb(233, 233, 233);
  margin-left: -1em;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.blog_post_box {
  display: flex;
  justify-content: center;
}

.blog_head {
  text-align: center;
}

.blogp_decrip {
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
}

.centre {
  font-size: 16px;
  text-align: center;
  margin-top: 5%;
  text-decoration: underline;
}

#features {
  background-color: white;
  width: 100%;
  padding: 5px;
}

.overall {
  display: flex;
  margin: 1em;
}

.icon,
.info {
  margin: 10px;
}

#feat {
  display: flex;
  justify-content: center;
}

.uppercase {
  font-weight: 500;
  font-size: 14px;
}

.light {
  font-size: 13px;
  color: #7c7c7c;
}

#footer_box {
  color: white;
  width: 100%;
  padding: 20px;
  padding-top: 6%;
  margin-left: -0.6em;
  margin-right: 0;
  margin-bottom: -3%;
  background-color: rgb(29, 29, 29);
}

.block_links {
  display: block;
  color: #949494;
  margin: 5px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.s_foot {
  display: flex;
  justify-content: center;
}

#email {
  width: 22em;
  height: 1.7em;
  padding: 20px;
  border: none;
  border-radius: 1px;
  background-color: rgb(49, 49, 49);
  margin: 0.5em;
}

#submit {
  width: 8em;
  padding: 22px;
  font-size: 15px;
  border-radius: 1px;
  border: none;
  color: white;
  background-color: #5e5e5e;
  font-weight: 600;
  margin: 0.5em;
}

#submit:hover {
  background-color: #4d4c4c;
}

#submit:active {
  transform: scale(0.9);
}

.inputs {
  display: flex;
  justify-content: center;
}

.want {
  text-align: center;
  font-size: 20px;
}

::placeholder {
  font-size: 15px;
}

hr {
  border: 0.1px solid #4d4c4c;
  margin-left: -5%;
}

/**/

.space {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.other_links {
  margin: 1.6em;
}

/*.img_links{
    margin-left: 20%;
 }*/
.bold {
  font-size: 15px;
  line-height: 3em;
}

.copy {
  font-size: small;
  color: rgb(155, 155, 155);
  margin-left: 5%;
}

#extras {
  margin-top: 2%;
}

.pay {
  float: right;
  margin-top: -2.3em;
  margin-right: 10%;
}

.fa-retweet,
.fa-lock,
.fa-tag,
.fa-truck {
  color: rgb(252, 163, 61);
}

.drawer_icon {
  display: none;
}

.payments {
  width: 2.5em;
}

.gray {
  color: gray;
  margin: 1px;
}

/* MEDIA QUERY FOT RESPONSIVE WEB PAGE */
@media (max-width: 1050px) {
  .nav_f,
  .nav_s,
  .icons {
    display: none;
  }

  .second_h {
    display: inline;
  }

  .logo_area {
    padding-left: 10%;
  }

  .drawer_icon {
    display: inline;
    float: right;
    margin-top: -3em;
    padding-right: 5%;
  }

  .one_bp {
    width: 26em;
  }

  .img_links {
    margin-left: 7%;
  }
}

@media (max-width: 900px) {
  .pro {
    width: 28%;
    height: 12em;
  }

  .content,
  #flex {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .one_bp {
    width: 22em;
  }

  .pro_img {
    width: 13em;
  }

  .pro10 {
    width: 26em;
  }

  .sec_box {
    width: 45%;
    text-align: center;
    margin-right: 10em;
  }

  #feat {
    flex-direction: column;
    padding: 20px;
  }

  .overall {
    margin: 0.1em;
    margin-left: 10%;
  }

  .s_foot {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  #big_post {
    flex-direction: column;
    align-items: center;
  }

  .one_bp {
    width: 30em;
  }

  .box {
    margin-bottom: 13%;
  }

  .first_box {
    width: 90%;
    margin-left: 5px;
  }

  .pro10 {
    width: 100%;
  }

  #sec_main {
    flex-direction: column;
    align-items: center;
  }

  .sec_box {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }

  .blog_post_box {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .blog {
    width: 73%;
  }

  #grid_f {
    flex-direction: column;
    align-items: center;
  }

  .pro {
    width: 95%;
    margin: 10px;
    height: 17em;
  }

  .copy {
    width: 40%;
  }

  .pay {
    margin-right: 2%;
  }
}

@media (max-width: 500px) {
  .blog {
    width: 90%;
    text-align: center;
  }

  .other_links {
    margin: 0.3em;
  }
}
